.clearfix:after{
	content:"";
	display: block;
	clear:both;
}
.down-arrow{
	position: absolute;
	right:22px;
	top: 25px;
	width:0;
	height:0;
	border-top:5px solid #000;
	border-right:5px solid transparent;
	border-bottom:0px solid transparent;
	border-left:5px solid transparent;
	
}
.down-arrow .white{
	position: absolute;
	left:-3px;
	top: -5px;
	width:0;
	height:0;
	border-top:3px solid #fff;
	border-right:3px solid transparent;
	border-bottom:0px solid transparent;
	border-left:3px solid transparent;	
}
.right-arrow{
	position: absolute;
	right:-3px;
	top: 14px;
	width:0;
	height:0;
	border-top:6px solid transparent;
	border-right:0px solid transparent;
	border-bottom:6px solid transparent;
	border-left:6px solid #fff;
	
}
.right-arrow .black{
	position: absolute;
	left:-6px;
	top: -4px;
	width:0;
	height:0;
	border-top:4px solid transparent;
	border-right:0px solid transparent;
	border-bottom:4px solid transparent;
	border-left:4px solid #000;	
}
.left-btn{
	display: none;
	position: absolute;
	left:0;
	top:50%;
	width:24px;
	height:48px;
	background-color:#000;
	margin-top:-12px;
}
.left-btn .name{
	float:left;
	width:24px;
	height:48px;
}
.left-btn .name .left-arrow{
	position: absolute;
	left:9px;
	top: 17px;
	width:0;
	height:0;
	border-top:6px solid transparent;
	border-right:6px solid #fff;
	border-bottom:6px solid transparent;
	border-left:0px solid transparent;
}
.left-btn .name .left-arrow .black{
	position: absolute;
	right:-6px;
	top: -4px;
	width:0;
	height:0;
	border-top:4px solid transparent;
	border-right:4px solid #000;
	border-bottom:4px solid transparent;
	border-left:0px solid transparent;	
}
.right-btn{
	display: none;
	position: absolute;
	right:0;
	top:50%;
	width:24px;
	height:48px;
	background-color:#000;
	margin-top:-12px;
}
.right-btn .name{
	float:left;
	width:24px;
	height:48px;
}
.right-btn .name .right-arrow{
	position: absolute;
	right:9px;
	top: 17px;
	width:0;
	height:0;
	border-top:6px solid transparent;
	border-right:0px solid transparent;
	border-bottom:6px solid transparent;
	border-left:6px solid #fff;
}

.right-btn .name .right-arrow .black{
	position: absolute;
	right:-6px;
	top: -4px;
	width:0;
	height:0;
	border-top:4px solid transparent;
	border-right:0px solid transparent;
	border-bottom:4px solid transparent;
	border-left:4px solid #000;	
}

.foot-down-arrow{
	display:none;
	position: absolute;
	right:0px;
	top: 14px;
	width:0;
	height:0;
	border-top:5px solid #666;
	border-right:5px solid transparent;
	border-bottom:5px solid transparent;
	border-left:5px solid transparent;
	
}
.foot-down-arrow .white{
	position: absolute;
	left:-3px;
	top: -5px;
	width:0;
	height:0;
	border-top:3px solid #f2f2f2;
	border-right:3px solid transparent;
	border-bottom:3px solid transparent;
	border-left:3px solid transparent;	
}



.coler-black{
	border-left:6px solid #000 !important;
}
.coler-white{
	border-left:4px solid #fff !important;
}

.pd-23{
	padding:0 23px !important;
}
.mg-0{
	margin: 0 !important;
}
.color-fff{
	background-color:#fff !important;
	border: 1px solid #000;
}
.pd-t70{
	padding-top:70px;
}
.top-34{
	top:34.48275862068966% !important;
}
